*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.792));
    font-family: 'Oswald' sans-serif;
    transition: 30s;
    justify-content: center;
}

.hero{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #191919;
    padding: 10px;
}

.logo {
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span{
    color: #f9004d;
}

.navbar-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.navbar-links ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.navbar-links ul li a:hover {
    color: #f9004d;
    transition: 0.6s;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 500px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none; 
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.btn {
    background-color: #f9004d;
    color: #fff;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover{
    transform:scale(1.2)
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

h1 {
    color: rgba(255, 255, 255, 0.457);
    margin: 20px 0px 20px;
    font-size: 70px;
}

h3 {
    color: rgba(255, 255, 255, 0.457);
    font-size: 35px;
    margin-bottom: 50px;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 25px;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
    transition: .4s;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: #fff;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.about {
    width: 100%;
    padding: 50px 0px;
    /* background-color: #191919; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.about img {
    height: 180;
    width: 400px;
}

.about-text {
    width: 650px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.about-text h2 {
    color: rgba(255, 255, 255, 0.457);
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: rgba(255, 255, 255, 0.457);
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

section.about span {
    font-size: 100px;
    line-height: 105px;
    align-items: bottom;
}

.heart {
    position: relative;
    fill: red;
    width: 150px;
    margin: 0 50px;
    animation: pulse 4s infinite;
}

@keyframes pulse {
    0%{
        transform: scale(1);
    }

    15% {
        transform: scale(1.25);
    }

    25% {
        transform: scal(1.15);
    }

    35% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}



button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.service {
    background: #101010;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: #fff;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i {
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}

h5 {
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p {
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.contact-me {
    width: 100%;
    height: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.contact-me p {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}

.contact-me .button-two {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.contact-me .button-two:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.contact-container{
    max-width: 700px; 
    margin: 40px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.0rem;
    box-shadow: 0 0 1rem hsla(0 0 0 / 16%);
    border-radius: 30px;
  }
  
  .form-container{
    padding: 20px;
  }
  
  .form-container h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .contact-form{
    display: grid;
    row-gap: 1rem;
  }
  
  .contact-form input,
  .contact-form textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #f9004f91;
    padding: 10px;
    font-size: 0.9rem;
    color: #fff;
    border-radius: 0.4rem;
  }
  
  .contact-form textarea {
    resize: none;
    height: 200px;
  }
  
  .contact-form .send-button{
    border: none;
    outline: none;
    background: #de003816;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .contact-form .send-button:hover{
    background: rgba(0, 220, 224, 0.257);
    transition: 0.3s all linear;
  }
  
  @media (max-width:964px){
    .contact-container {
      margin: 0 auto;
      width: 90%;
    }
  }
  @media (max-width:700px){
    .contact-container{
      grid-template-columns: 1fr;
      gap: 1rem;
      margin-top: 20rem !important;
    }
}
  /* CONTACT STYLE ENDS */

footer {
    position: relative;
    width: 100%;
    height: 300px;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.792));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1) {
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2) {
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end {
    position: absolute;
    color: #fff;
    bottom: 35px;
    font-size: 14px;
}

/* RESPONSIVE MENU START */

@media only screen and (max-width: 850) {
    .heart {
        width: 50px;
        margin: 0 20px;
    }
}